Repository javidahmed64592/python-steganographer: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-typescript, frontend-eslint, frontend-prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        require_serial: true
        args: [--config-file=pyproject.toml]
      - id: frontend-typescript
        name: TypeScript Check
        entry: npm --prefix python-steganographer-frontend run type-check
        language: system
        files: ^python-steganographer-frontend/.*\.(ts|tsx)$
        pass_filenames: false
      - id: frontend-eslint
        name: ESLint
        entry: npm --prefix python-steganographer-frontend run lint
        language: system
        files: ^python-steganographer-frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
      - id: frontend-prettier
        name: Prettier
        entry: npm --prefix python-steganographer-frontend run format
        language: system
        files: ^python-steganographer-frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

Update dependencies
  uv.lock
Due: none

Update Node.js version in Dockerfile and documentation
  Dockerfile
  docs/source/smg.rst
Due: none

Refactor GitHub Actions workflows to use centralized actions for building, testing, and publishing
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
Due: none

Update actions (#18)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  Dockerfile
  docs/source/smg.rst
  uv.lock
Due: none

Refactor steganography configuration: restore default values for DCT settings and AES parameters
  python_steganographer/constants.py
  python_steganographer/models.py
Due: mypy

Clean up import statements in algorithms.py
  python_steganographer/algorithms.py
Due: mypy

Refactor configuration models: separate image and encryption settings
  configuration/config.json
  python_steganographer/models.py
  tests/conftest.py
  tests/test_models.py
Due: mypy

Add image router with encoding, decoding, and capacity endpoints
  python_steganographer/routers/__init__.py
  python_steganographer/routers/image_router.py
  tests/routers/test_image_router.py
Due: mypy

Refactor server module: streamline imports, add routers property, and remove unused methods
  python_steganographer/server.py
  tests/test_server.py
Due: mypy

Refactor test files: replace SteganographerServerConfig with EncryptionConfig in algorithms, encryption, and image tests
  tests/test_algorithms.py
  tests/test_encryption.py
  tests/test_image.py
Due: mypy

Update copyright year in LICENSE file to 2025-2026
  LICENSE
Due: none

Refactor documentation: update module descriptions from 'application' to 'server'
  python_steganographer/constants.py
  python_steganographer/encryption.py
  python_steganographer/image.py
  python_steganographer/main.py
Due: mypy

Implement DCT and LSB steganography algorithms with unit tests
  python_steganographer/algorithm/__init__.py
  python_steganographer/algorithm/algorithm_base.py
  python_steganographer/algorithm/dct.py
  python_steganographer/algorithm/lsb.py
  tests/algorithm/test_dct.py
  tests/algorithm/test_lsb.py
  tests/conftest.py
Due: mypy

Fix CSS variable references for background and foreground colors
  python-steganographer-frontend/src/app/globals.css
Due: frontend-prettier

Update template server (#19)
  LICENSE
  configuration/config.json
  python-steganographer-frontend/src/app/globals.css
  python_steganographer/algorithm/__init__.py
  python_steganographer/algorithm/algorithm_base.py
  python_steganographer/algorithm/dct.py
  python_steganographer/algorithm/lsb.py
  python_steganographer/constants.py
  python_steganographer/encryption.py
  python_steganographer/image.py
  python_steganographer/main.py
  python_steganographer/models.py
  python_steganographer/routers/__init__.py
  python_steganographer/routers/image_router.py
  python_steganographer/server.py
  tests/algorithm/test_dct.py
  tests/algorithm/test_lsb.py
  tests/conftest.py
  tests/routers/test_image_router.py
  tests/test_encryption.py
  tests/test_image.py
  tests/test_models.py
  tests/test_server.py
  uv.lock
Due: mypy, frontend-prettier

Update dependencies
  pyproject.toml
  uv.lock
Due: none

Update workflow configurations and documentation for improved setup and type checking
  .github/copilot-instructions.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  docs/source/smg.rst
Due: none

Refactor encryption key initialization logic and update test cases for improved clarity and functionality
  python_steganographer/encryption.py
  tests/test_server.py
Due: mypy

Update dependencies (#20)
  .github/copilot-instructions.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  docs/source/smg.rst
  pyproject.toml
  python_steganographer/encryption.py
  tests/test_server.py
  uv.lock
Due: mypy

Update server configuration to use HTTP on port 8000
  .dockerignore
  .env.example
  .github/copilot-instructions.md
  .github/workflows/docker.yml
  .gitignore
  Dockerfile
  README.md
  RELEASE-NOTES.md
  docker-compose.yml
  docs/source/smg.rst
Due: none

Change fallback URL to use HTTP on localhost:8000
  python-steganographer-frontend/next.config.ts
  python_steganographer/encryption.py
Due: mypy, frontend-typescript, frontend-eslint, frontend-prettier

Change to http localhost (#21)
  .dockerignore
  .env.example
  .github/copilot-instructions.md
  .github/workflows/docker.yml
  .gitignore
  Dockerfile
  README.md
  RELEASE-NOTES.md
  docker-compose.yml
  docs/source/smg.rst
  python-steganographer-frontend/next.config.ts
  python_steganographer/encryption.py
  uv.lock
Due: mypy, frontend-typescript, frontend-eslint, frontend-prettier

Remove API authentication flow and related environment variables
  .env.example
  .github/copilot-instructions.md
  Dockerfile
  README.md
  docker-compose.yml
  docs/source/smg.rst
Due: none

Remove authentication requirement from image router endpoints
  python_steganographer/routers/image_router.py
  tests/conftest.py
Due: mypy

Remove authentication flow and related components
  python-steganographer-frontend/src/app/layout.tsx
  python-steganographer-frontend/src/app/login/page.tsx
  python-steganographer-frontend/src/components/Navigation.tsx
  python-steganographer-frontend/src/components/__tests__/Navigation.test.tsx
  python-steganographer-frontend/src/contexts/AuthContext.tsx
  python-steganographer-frontend/src/lib/__tests__/api.test.ts
  python-steganographer-frontend/src/lib/__tests__/auth.test.ts
  python-steganographer-frontend/src/lib/api.ts
  python-steganographer-frontend/src/lib/auth.ts
  python-steganographer-frontend/src/lib/types.ts
Due: frontend-typescript, frontend-eslint, frontend-prettier

Remove auth flow (#22)
  .env.example
  .github/copilot-instructions.md
  Dockerfile
  README.md
  docker-compose.yml
  docs/source/smg.rst
  pyproject.toml
  python-steganographer-frontend/src/app/layout.tsx
  python-steganographer-frontend/src/app/login/page.tsx
  python-steganographer-frontend/src/components/Navigation.tsx
  python-steganographer-frontend/src/components/__tests__/Navigation.test.tsx
  python-steganographer-frontend/src/contexts/AuthContext.tsx
  python-steganographer-frontend/src/lib/__tests__/api.test.ts
  python-steganographer-frontend/src/lib/__tests__/auth.test.ts
  python-steganographer-frontend/src/lib/api.ts
  python-steganographer-frontend/src/lib/auth.ts
  python-steganographer-frontend/src/lib/types.ts
  python_steganographer/routers/image_router.py
  tests/conftest.py
  uv.lock
Due: mypy, frontend-typescript, frontend-eslint, frontend-prettier

Update navigation items and logo text to reflect project name
  python-steganographer-frontend/src/components/Navigation.tsx
  python-steganographer-frontend/src/components/__tests__/Navigation.test.tsx
Due: frontend-typescript, frontend-eslint, frontend-prettier

Update navigation items and logo text to reflect project name (#23)
  python-steganographer-frontend/src/components/Navigation.tsx
  python-steganographer-frontend/src/components/__tests__/Navigation.test.tsx
Due: frontend-typescript, frontend-eslint, frontend-prettier

Update dependencies (#24)
  uv.lock
Due: none

chore: update dependencies and devDependencies in package.json
  python-steganographer-frontend/package-lock.json
  python-steganographer-frontend/package.json
Due: frontend-prettier

chore: update dependencies and devDependencies in package.json (#25)
  python-steganographer-frontend/package-lock.json
  python-steganographer-frontend/package.json
Due: frontend-prettier
