Repository javidahmed64592/python-steganographer: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-typescript, frontend-eslint, frontend-prettier

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  require_serial: true
  args:
  - --config-file=pyproject.toml

frontend-typescript:
  name: TypeScript Check
  entry: npm --prefix python-steganographer-frontend run type-check
  language: system
  pass_filenames: false

frontend-eslint:
  name: ESLint
  entry: npm --prefix python-steganographer-frontend run lint
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier
  entry: npm --prefix python-steganographer-frontend run format
  language: system
  pass_filenames: false

Include static files in build and update mypy overrides
  pyproject.toml
Due: none

Refactor Dockerfile for multi-stage build and update docker-compose.yml image declaration
  Dockerfile
  docker-compose.yml
Due: none

Add GitHub Actions for frontend setup, build, and CI checks
  .github/actions/setup-node/action.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  docs/WORKFLOWS.md
Due: none

feat: initialize frontend with Next.js, Tailwind CSS, and TypeScript
  python-steganographer-frontend/.gitignore
  python-steganographer-frontend/README.md
  python-steganographer-frontend/eslint.config.mjs
  python-steganographer-frontend/next.config.ts
  python-steganographer-frontend/package-lock.json
  python-steganographer-frontend/package.json
  python-steganographer-frontend/postcss.config.mjs
  python-steganographer-frontend/public/file.svg
  python-steganographer-frontend/public/globe.svg
  python-steganographer-frontend/public/next.svg
  python-steganographer-frontend/public/vercel.svg
  python-steganographer-frontend/public/window.svg
  python-steganographer-frontend/src/app/favicon.ico
  python-steganographer-frontend/src/app/globals.css
  python-steganographer-frontend/src/app/layout.tsx
  python-steganographer-frontend/src/app/page.tsx
  python-steganographer-frontend/tsconfig.json
Due: frontend-typescript, frontend-eslint, frontend-prettier

chore: update package.json with new scripts and dependencies
  python-steganographer-frontend/package-lock.json
  python-steganographer-frontend/package.json
Due: frontend-prettier

feat: add Prettier and ESLint configuration for code formatting and linting
  python-steganographer-frontend/.prettierignore
  python-steganographer-frontend/.prettierrc
  python-steganographer-frontend/eslint.config.mjs
  python-steganographer-frontend/next.config.ts
  python-steganographer-frontend/tsconfig.json
Due: frontend-typescript, frontend-eslint, frontend-prettier

fix: remove SECURITY.md copy from Dockerfile
  Dockerfile
Due: none

chore: remove README.md from frontend directory
  python-steganographer-frontend/README.md
Due: frontend-prettier

feat: update Software Maintenance Guide with frontend setup instructions
  docs/SMG.md
Due: none

feat: add Jest configuration and setup files for testing Next.js components
  python-steganographer-frontend/jest.config.js
  python-steganographer-frontend/jest.setup.js
Due: frontend-eslint, frontend-prettier

feat: implement API client and authentication utilities for frontend
  python-steganographer-frontend/src/lib/api.ts
  python-steganographer-frontend/src/lib/auth.ts
  python-steganographer-frontend/src/lib/types.ts
Due: frontend-typescript, frontend-eslint, frontend-prettier

feat: add AuthContext and authentication logic for frontend
  python-steganographer-frontend/src/contexts/AuthContext.tsx
Due: frontend-typescript, frontend-eslint, frontend-prettier

feat: add Footer and Navigation components with responsive design and health indicator
  python-steganographer-frontend/src/components/Footer.tsx
  python-steganographer-frontend/src/components/HealthIndicator.tsx
  python-steganographer-frontend/src/components/Navigation.tsx
Due: frontend-typescript, frontend-eslint, frontend-prettier

feat: add Home, Login, and NotFound pages with initial layout and authentication logic
  python-steganographer-frontend/src/app/home/page.tsx
  python-steganographer-frontend/src/app/login/page.tsx
  python-steganographer-frontend/src/app/not-found.tsx
  python-steganographer-frontend/src/app/page.tsx
Due: frontend-typescript, frontend-eslint, frontend-prettier

feat: update RootLayout to include AuthProvider, Navigation, and Footer components
  python-steganographer-frontend/src/app/layout.tsx
Due: frontend-typescript, frontend-eslint, frontend-prettier

feat: enhance global styles with cybersecurity theme colors and utility classes
  python-steganographer-frontend/src/app/globals.css
Due: frontend-prettier

feat: remove unused SVG and favicon files from frontend
  python-steganographer-frontend/public/file.svg
  python-steganographer-frontend/public/globe.svg
  python-steganographer-frontend/public/next.svg
  python-steganographer-frontend/public/vercel.svg
  python-steganographer-frontend/public/window.svg
  python-steganographer-frontend/src/app/favicon.ico
Due: none

feat: add steganography request and response types for encoding and decoding
  python-steganographer-frontend/src/lib/types.ts
Due: frontend-typescript, frontend-eslint, frontend-prettier

feat: standardize algorithm type values to lowercase in types.ts
  python-steganographer-frontend/src/lib/types.ts
Due: frontend-typescript, frontend-eslint, frontend-prettier

feat: implement image encoding, decoding, and capacity check APIs in frontend
  configuration/config.json
  python-steganographer-frontend/src/lib/api.ts
  python_steganographer/server.py
Due: mypy, frontend-typescript, frontend-eslint, frontend-prettier

feat: refactor global styles to use @theme for cybersecurity colors and remove unused utility classes
  python-steganographer-frontend/src/app/globals.css
Due: frontend-prettier

fix: correct formatting in getBackendURL function for config.json path and warning message
  python-steganographer-frontend/next.config.ts
Due: frontend-typescript, frontend-eslint, frontend-prettier

feat: update styling to use defined color classes and improve layout consistency across components
  python-steganographer-frontend/src/app/layout.tsx
  python-steganographer-frontend/src/app/login/page.tsx
  python-steganographer-frontend/src/app/not-found.tsx
  python-steganographer-frontend/src/components/Footer.tsx
  python-steganographer-frontend/src/components/HealthIndicator.tsx
  python-steganographer-frontend/src/components/Navigation.tsx
  python-steganographer-frontend/src/contexts/AuthContext.tsx
Due: frontend-typescript, frontend-eslint, frontend-prettier

feat: implement frontend components for image upload, encoding, and decoding with algorithm selection
  python-steganographer-frontend/src/app/home/page.tsx
  python-steganographer-frontend/src/components/AlgorithmSelector.tsx
  python-steganographer-frontend/src/components/DecodePanel.tsx
  python-steganographer-frontend/src/components/EncodePanel.tsx
  python-steganographer-frontend/src/components/ImagePanel.tsx
Due: frontend-typescript, frontend-eslint, frontend-prettier

fix: update frontend directory name and references in Software Maintenance Guide
  docs/SMG.md
Due: none

Add unit tests for various components and utility functions
  python-steganographer-frontend/src/components/__tests__/AlgorithmSelector.test.tsx
  python-steganographer-frontend/src/components/__tests__/DecodePanel.test.tsx
  python-steganographer-frontend/src/components/__tests__/EncodePanel.test.tsx
  python-steganographer-frontend/src/components/__tests__/Footer.test.tsx
  python-steganographer-frontend/src/components/__tests__/HealthIndicator.test.tsx
  python-steganographer-frontend/src/components/__tests__/ImagePanel.test.tsx
  python-steganographer-frontend/src/components/__tests__/Navigation.test.tsx
  python-steganographer-frontend/src/lib/__tests__/api.test.ts
  python-steganographer-frontend/src/lib/__tests__/auth.test.ts
Due: frontend-typescript, frontend-eslint, frontend-prettier

feat: add comprehensive tests for encodeImage, decodeImage, and getImageCapacity functions
  python-steganographer-frontend/src/lib/__tests__/api.test.ts
Due: frontend-typescript, frontend-eslint, frontend-prettier

feat: add frontend documentation and client details to README and API.md
  README.md
  docs/API.md
Due: none

Update README and Docker release notes for improved clarity and access points
  .github/workflows/docker.yml
  README.md
Due: none

Update README and Docker release notes for improved clarity and access points (#4)
  .github/workflows/docker.yml
  README.md
Due: none

Enhance installation script to prompt for API token hash and update service instructions
  release/install_steganographer.sh
Due: none

Enhance installation script to prompt for API token hash and update service instructions (#5)
  release/install_steganographer.sh
Due: none

Add .env.example file and update Docker configuration for environment variables
  .env.example
  Dockerfile
  docker-compose.yml
Due: none

Update dependencies
  pyproject.toml
  uv.lock
Due: none

Refactor CI workflows to use environment variables for frontend package name and streamline Docker setup by removing installer scripts
  .github/workflows/build.yml
  .github/workflows/docker.yml
  release/install_steganographer.sh
Due: none

Refactor error handling in server methods to raise HTTP exceptions and remove response codes
  python_steganographer/server.py
  tests/test_server.py
Due: mypy

Refactor API response handling by removing code property from responses and simplifying success checks
  python-steganographer-frontend/src/components/HealthIndicator.tsx
  python-steganographer-frontend/src/components/__tests__/DecodePanel.test.tsx
  python-steganographer-frontend/src/components/__tests__/EncodePanel.test.tsx
  python-steganographer-frontend/src/lib/__tests__/api.test.ts
  python-steganographer-frontend/src/lib/api.ts
  python-steganographer-frontend/src/lib/types.ts
Due: frontend-typescript, frontend-eslint, frontend-prettier

Refactor documentation and configuration files to simplify response models and update server setup instructions
  .github/copilot-instructions.md
  README.md
  configuration/config.json
  docs/API.md
  docs/SMG.md
  docs/WORKFLOWS.md
Due: none

Refactor Dockerfile to streamline file copying and enhance API token generation logic
  Dockerfile
Due: none

Path conditions:
  mypy: any of: \.py$
  frontend-typescript: any of: ^python-steganographer-frontend/.*\.(ts|tsx)$
  frontend-eslint: any of: ^python-steganographer-frontend/.*\.(ts|tsx|js|jsx)$
  frontend-prettier: any of: ^python-steganographer-frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
