Repository javidahmed64592/python-steganographer: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-typescript, frontend-eslint, frontend-prettier

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  require_serial: true
  args:
  - --config-file=pyproject.toml

frontend-typescript:
  name: TypeScript Check
  entry: npm --prefix python-steganographer-frontend run type-check
  language: system
  pass_filenames: false

frontend-eslint:
  name: ESLint
  entry: npm --prefix python-steganographer-frontend run lint
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier
  entry: npm --prefix python-steganographer-frontend run format
  language: system
  pass_filenames: false

Refactor startup script and environment variables in copilot instructions for clarity and consistency
  .github/copilot-instructions.md
Due: none

Update template server (#6)
  .env.example
  .github/copilot-instructions.md
  .github/workflows/build.yml
  .github/workflows/docker.yml
  Dockerfile
  README.md
  configuration/config.json
  docker-compose.yml
  docs/API.md
  docs/SMG.md
  docs/WORKFLOWS.md
  pyproject.toml
  python-steganographer-frontend/src/components/HealthIndicator.tsx
  python-steganographer-frontend/src/components/__tests__/DecodePanel.test.tsx
  python-steganographer-frontend/src/components/__tests__/EncodePanel.test.tsx
  python-steganographer-frontend/src/lib/__tests__/api.test.ts
  python-steganographer-frontend/src/lib/api.ts
  python-steganographer-frontend/src/lib/types.ts
  python_steganographer/server.py
  release/install_steganographer.sh
  tests/test_server.py
  uv.lock
Due: mypy, frontend-typescript, frontend-eslint, frontend-prettier

Update dependencies
  uv.lock
Due: none

Update dependencies in package.json
  python-steganographer-frontend/package-lock.json
  python-steganographer-frontend/package.json
Due: frontend-prettier

Update setup actions to install core dependencies and validate repository name against package name
  .github/actions/setup-python-core/action.yml
  .github/workflows/docker.yml
  docs/WORKFLOWS.md
Due: none

Fix formatting in Software Maintenance Guide for pre-commit installation and API token generation instructions
  docs/SMG.md
Due: none

Update dependencies (#7)
  .github/actions/setup-python-core/action.yml
  .github/workflows/docker.yml
  docs/SMG.md
  docs/WORKFLOWS.md
  python-steganographer-frontend/package-lock.json
  python-steganographer-frontend/package.json
  uv.lock
Due: frontend-prettier

Update dependencies (#8)
  uv.lock
Due: none

Update dependencies (#9)
  uv.lock
Due: none

Refactor GitHub Actions workflows: remove obsolete actions, update to latest versions, and streamline build and release processes
  .github/actions/docker-check-containers/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/setup-python-core/action.yml
  .github/actions/setup-python-dev/action.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  docs/RELEASE-NOTES.md
  docs/WORKFLOWS.md
  uv.lock
Due: none

Refactor GitHub Actions workflows: remove obsolete actions, update to latest versions, and streamline build and release processes (#10)
  .github/actions/docker-check-containers/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/setup-python-core/action.yml
  .github/actions/setup-python-dev/action.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  docs/RELEASE-NOTES.md
  docs/WORKFLOWS.md
  uv.lock
Due: none

chore: update dependencies in package.json
  python-steganographer-frontend/package-lock.json
  python-steganographer-frontend/package.json
Due: frontend-prettier

chore: update dependencies in package.json (#11)
  python-steganographer-frontend/package-lock.json
  python-steganographer-frontend/package.json
Due: frontend-prettier

ci: make pip-audit step optional by allowing it to continue on error
  .github/workflows/ci.yml
Due: none

Make pip audit optional (#12)
  .github/workflows/ci.yml
  uv.lock
Due: none

Refactor health status handling: simplify health check logic and update tests for accurate status representation
  python-steganographer-frontend/src/components/__tests__/HealthIndicator.test.tsx
  python-steganographer-frontend/src/lib/__tests__/api.test.ts
  python-steganographer-frontend/src/lib/api.ts
  python-steganographer-frontend/src/lib/types.ts
Due: frontend-typescript, frontend-eslint, frontend-prettier

Fix health status indicator(#13)
  python-steganographer-frontend/src/components/__tests__/HealthIndicator.test.tsx
  python-steganographer-frontend/src/lib/__tests__/api.test.ts
  python-steganographer-frontend/src/lib/api.ts
  python-steganographer-frontend/src/lib/types.ts
Due: frontend-typescript, frontend-eslint, frontend-prettier

Add documentation dependencies for python-template-server
  pyproject.toml
  uv.lock
Due: none

Remove pre-commit configuration file
  .pre-commit-config.yaml
Due: none

Update .dockerignore and .gitignore for static files and Sphinx documentation
  .dockerignore
  .gitignore
Due: none

Fix package name format in SteganographerServer and add module docstring
  python_steganographer/__init__.py
  python_steganographer/server.py
Due: mypy

Add Sphinx configuration and initial documentation structure
  docs/source/conf.py
  docs/source/index.rst
  docs/source/smg.rst
Due: mypy

Add Docker and Docs workflows for CI/CD integration
  .github/workflows/docker.yml
  .github/workflows/docs.yml
Due: none

Update README and add RELEASE-NOTES; remove outdated API and SMG documentation
  README.md
  RELEASE-NOTES.md
  docs/API.md
  docs/SMG.md
Due: none

Add sphinx (#14)
  .dockerignore
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  RELEASE-NOTES.md
  docs/API.md
  docs/SMG.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/smg.rst
  pyproject.toml
  python_steganographer/__init__.py
  python_steganographer/server.py
  uv.lock
Due: mypy

Remove build-args from Docker workflow for python-template-server
  .github/workflows/docker.yml
Due: none

Remove build-args from Docker workflow for python-template-server (#15)
  .github/workflows/docker.yml
Due: none

Refactor docker-compose.yml for clarity and consistency
  docker-compose.yml
Due: none

Refactor error handling and parameter passing in image processing methods
  python_steganographer/server.py
Due: mypy

Move import of modes
  python_steganographer/encryption.py
Due: mypy

Add mock_client fixture and refactor request object handling in tests
  tests/test_server.py
Due: mypy

Update dependencies (#16)
  docker-compose.yml
  python_steganographer/encryption.py
  python_steganographer/server.py
  tests/test_server.py
  uv.lock
Due: mypy

Update dependencies
  pyproject.toml
  uv.lock
Due: none

Refactor route setup to use add_route with authentication and limits
  python_steganographer/server.py
Due: mypy

Add volume mapping for .env file in docker-compose
  docker-compose.yml
Due: none

Update template server (#17)
  docker-compose.yml
  pyproject.toml
  python_steganographer/server.py
  uv.lock
Due: mypy

Path conditions:
  mypy: any of: \.py$
  frontend-typescript: any of: ^python-steganographer-frontend/.*\.(ts|tsx)$
  frontend-eslint: any of: ^python-steganographer-frontend/.*\.(ts|tsx|js|jsx)$
  frontend-prettier: any of: ^python-steganographer-frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
